::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

/* scrollbar thumb borrowed from whatsApp WEb */

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--white-rgb), 0.16);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--black-rgb), 0.2);
}

::-webkit-scrollbar-track {
  background-color: initial;
}

::-webkit-scrollbar-track {
  background: rgba(var(--white-rgb), 0.1);
}
